@font-face {
  font-family: "vazir";
  src: url("../font/Vazir.ttf");
}

body {
  font-family: vazir;
  background: #111111;
  color: #ffffff;
  transition: all .5s ease-in-out;
}

.header {
  font-size: 60px;
  text-align: center;
  margin: 30px 0 0 0;
  transition: all .5s ease-in-out;
}

.menubar {
  font-size: 30px;
  text-align: center;
  transition: all .5s ease-in-out;
}

.menubar li a:hover{
  color: #a30000;
}

nav ul {
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin: 0 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
  color: #ff0e91;
  font-size: 30px;
  transition: all .5s ease-in-out;
}

p {
  text-align: center;
  color: #f5f6dd;
  font-size: 30px;
  direction: rtl;
  transition: all .5s ease-in-out;
}

main {
  max-width: 1200px;
  margin: auto;
}

.blue,
.blue:visited {
  color: #aecae9;
  text-decoration: none;
}

img {
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 1200px) {
  main {
    max-width: 800px;
  }
}
@media screen and (max-width: 804px) {
  .header {
    font-size: 30px;
  }
  .menubar {
    font-size: 20px;
  }
  main {
    max-width: 500px;
  }
  p, h2 {
    font-size: 24px;
  }
}

@media screen and (max-width: 512px) {
  .header {
    font-size: 22px;
  }
  main {
    max-width: 300px;
  }
  p, h2 {
    font-size: 15px;
  }
}
